*{
    margin: 0;
    padding: 0;
    font-family: "Electrolize", sans-serif;

}

.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
    flex-wrap: nowrap;
}


.home {
    position: relative;
  z-index: 1;          
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  backdrop-filter: blur(2px);
  pointer-events: none;
}
.home.hide {
  display: none;
}
.home h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.home p {
  font-size: 1.2rem;
  opacity: 0.85;
}

.home.hide {
  display: none;
}


@media (max-width: 600px) {
  .home h1 {
    font-size: 2rem;
  }

  .home p {
    font-size: 1rem;
  }
}


.btn_one i{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor:  pointer;
    transition: all 0.3s linear;
    z-index: 11;
}

.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255 , 255, 0.1);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    transition: all 0.3s linear;
    z-index: 1000; 

}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    height: 60px;
    z-index: 1000;

}

.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    z-index: 1000;
}

.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
    z-index: 1000;
}

.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 80px;
    z-index: 1000;
}

.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 15px 20px;
    z-index: 1000;
}

.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar_menu .menu i{
    padding-right: 5px;
}

.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}

.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;

}

#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);

}

.btn_one i:hover{
    font-size: 40px;

}

.btn_two i:hover{
    font-size: 30px;
}

.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.5);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .btn_one{
    opacity: 0;
}


#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}

.image{
    border-radius: 2px;
}

#gallery {
  display: none;
  padding: 30px 20px;

  width: 100%;
 

  margin: 0 auto;              

 
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  justify-items: center;       
}

#gallery.active {
  display: grid;
}

.img {
  display: grid;
  grid-template-columns: inherit;
  gap: inherit;
  z-index: 100000;
transform: translate(-60%,15%);

}
.card {
  background: #111;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-bottom: 2px solid wheat;
}

.card-content {
  padding: 14px;
  text-align: center;
}

.date {
  font-size: 0.8rem;
  color: #aaa;
  margin-bottom: 6px;
}

.desc {
  font-size: 0.95rem;
  color: #f5f5f5;
}

@media (max-width: 900px) {
  #gallery.active .img {
    grid-template-columns: repeat(2, 1fr);
    max-width: 700px;
  }
  .main_box{
    background: url(photo.jpg);
    
    background-size: cover;
}
}


@media (max-width: 600px) {
  #gallery.active .img {
    grid-template-columns: 1fr;
    max-width: 100%;
  }
  .img{
    transform: translate(-60%,0);
  }
  .card {
    max-width: 90%;
  }

   .main_box{
    background: url(photo.jpg);
   
    background-size: cover;
}
}